VITE_PUBLIC_API_URL=http://localhost:3000
VITE_PUBLIC_WEB_URL=http://localhost:3001
VITE_PUBLIC_MAIN_URL=http://localhost:3002
VITE_PUBLIC_PROXY_URL=http://localhost:3004
VITE_PUBLIC_POSTHOG_TOKEN=
VITE_USE_RORK_TOOLKIT_CHAT=true
